# Datasets
data/raw/
data/processed/
*.zip
*.tar.gz

# Model Weights
models/*.h5
models/logs/
!models/model_card.md

# Python environment & cache
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# OS/IDE settings
.vscode/
.idea/
.DS_Store
Thumbs.db
